---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Font variables
$font-name: libretto-icons;
$font-path-file-name: {{ site.baseurl }}/assets/fonts/$font-name/$font-name;

@font-face {
    font-family: $font-name;
    src: url($font-path-file-name+'.eot'); /* IE9 Compat Modes */
    src: url($font-path-file-name+'.woff') format('woff'), /* Pretty Modern Browsers */
         url($font-path-file-name+'.ttf')  format('truetype'), /* Safari, Android, iOS */
         url($font-path-file-name+'.svg#font_name') format('svg'); /* Legacy iOS */
}



// Our variables
$base-font-family: "Libre Baskerville", Baskerville, "Book Antiqua", Georgia, Times, serif;
$base-font-size:   17px;
$base-font-weight: 400;
$base-line-height: 2;

$small-font-size:  $base-font-size * 0.875;

$spacing-unit:     30px;

$brand-color:      #787065;
$background-color: #ffedd6;
$text-color:       #363431;
$title-color:      #943526;

$grey-color:       #a09a92;
$grey-color-light: lighten($grey-color, 30%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

/* image gallery */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prevButton, .nextButton {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.nextButton {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prevButton:hover, .nextButton:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  right: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}